<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']" href="#!">
        <b>Nekretnine</b>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="app-navbar-collapse">
      <!-- Left Side Of Navbar -->
      <ul class="nav navbar-nav navbar">
          <li>
            <a  *ngIf="!authenticated() or currentUserRole() === 'basic'" class="navbar-brand" [routerLink]="['/home']" href="#!">Pocetna</a>
          </li>
          <li>
            <a *ngIf="!authenticated() or currentUserRole() === 'basic'" class="navbar-brand" [routerLink]="['/search']" href="#!">Pretraga</a>
          </li>
          <li>
            <a *ngIf="currentUserRole() === 'basic' or currentUserRole() === 'agent'" class="navbar-brand" [routerLink]="['/inbox']" href="#!">Poruke</a>
          </li>
      </ul>

      <!-- Right Side Of Navbar -->
      <ul class="nav navbar-nav-right">
          <li>
            <a *ngIf="authenticated()" class="navbar-brand" [routerLink]="['/user', currentUser().id]" href="#!">Moj Nalog</a>
          </li>
          <li>
            <a *ngIf="authenticated()" class="navbar-brand" href="#!" (click)="signOut()">Izloguj se</a>
          </li>
          <li>
            <a *ngIf="!authenticated()" class="navbar-brand" [routerLink]="['/register']" href="#!">Registruj se</a>
          </li>
          <li>
            <a *ngIf="!authenticated()" class="navbar-brand" [routerLink]="['/login']" href="#!">Uloguj se</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
